<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= simple_format(@post.content) %>
</p>
<%=Time.now.strftime("%I:%M%p")%>
<p><%=@post.created_at%></p>

<p>
  <b>Tags:</b>
  <% @tag.each do |tag|%>
  	<%= link_to tag.name , :action => "tagsearch",:name=>tag.name%> 
  <% end %>
  <%= tags_list(@post.tags) %>
</p>
<h2>Comments</h2>

<div id="comments"> 
     <%= render :partial => 'comment' %>
</div>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
