
<h1>Listing tags</h1>
<h2>搜索的标签：<%= @tagname %></h2>
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Tags</th>
    <th>View</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= link_to tag.posts.map(&:id)[0], tag.posts %></td>
    <td><%= link_to tag.posts.map(&:title)[0], tag.posts %></td>
    <td>
      <% tag.posts.map(&:tags)[0].each do |tag| %>
        <%= link_to tag.name, :action => "tagsearch",:name=>tag.name%> 
      <% end %>
    </td>
    <td><%= link_to 'Show', tag.posts %></td>
    <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
    <td><%= link_to 'Destroy', tag, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>

</table>

<br />
<div class="apple_pagination">
  <div clas="page_info">
  <%= page_entries_info @tags %>
  </div>
  <%= will_paginate @tags, :container => false %>
</div>
<%= link_to 'New post', new_post_path %>
